<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <a href="/dashboard/contenu-magasin" class="indigo lighten waves-effect waves-light btn-large"><i class="material-icons left">brush</i>Modifier le contenu de la page magasin</a>
                <a href="/dashboard/modification-mot-de-passe-magasin" class="indigo lighten waves-effect waves-light btn-large"><i class="material-icons left">build</i>Changer mot de passe compte magasin</a>
            </div>
        </div>
    </div>
</div>
{{> script/basic}}