nav ul a,
nav .brand-logo {
    color: #444
}

p {
    line-height: 2rem
}

.button-collapse {
    color: #26a69a
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9)
}

.parallax-container .section {
    width: 100%
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%
    }
    #index-banner .section {
        top: 10%
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0
    }
}

.icon-block {
    padding: 0 15px
}

.icon-block .material-icons {
    font-size: inherit
}

footer.page-footer {
    margin: 0
}

.more-info-button {
    bottom: -15px
}

.carousel-slider {
    width: 300px;
    height: 166px
}

.brand-shadow {
    text-shadow: 1px 1px 1px #000
}

.minimized-boreal-logo {
    vertical-align: middle;
    margin-right: 10px
}

.admin-form-ok i {
    color: #2e7d32
}

.admin-form-wrong i {
    color: #b71c1c
}

#brands {
    width: 85%;
}

#brands-btn {
    padding: 0 1rem;
}

.logo-page-entreprise img {
    height: 300px
}

.card-title {
    min-height: 70px
}

.card-image {
    width: 100px!important;
    margin: auto!important;
    height: 100px!important
}

.card-image img {
    position: absolute!important;
    top: 50%!important;
    transform: translateY(-50%)!important
}

.titre-page-entreprise {
    font-weight: 700;
    text-shadow: 1px 1px 1px #000
}

<<<<<<< HEAD=======.pointeur-carte {
    color: #26a69a;
    transition: 0.5s;
}

.pointeur-carte:hover {
    font-size: 45px;
    text-shadow: 0px -3px 1px black;
    cursor: pointer;
}

> > > > > > > tache.1.v2 @media only screen and (max-width: 600px) {
    .fix {
        width: 50%
    }
}

@media only screen and (min-width: 601px) {
    .fix {
        height: 475px
    }
    .col {
        width: 33%
    }
}

@media only screen and (min-width: 900px) {
    .fix {
        height: 425px
    }
    .col {
        width: 25%
    }
}

@media only screen and (min-width: 1650px) {
    .fix {
        height: 350px
    }
    .col {
        width: 16%
    }
}
