/*///////////////////////////
///////POLICE ECRITURE///////
///////////////////////////*/

@font-face {
    font-family: "Material-Design-Icons";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*///////////////////////////
///////PAGE ENTREPRISE///////
///////////////////////////*/

/* PHOTO ENTREPRISE */

.lignePhoto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 35rem;
    overflow: auto
}

.column-photo {
    flex: 33%;
}

.column-photo img {
    width: 100%;
    padding: 0.2rem;
    vertical-align: middle;
}

/*------------------------*/

.info-working {
    border-left: 3px solid #e51c23;
    background-color: #fdeaeb;
    margin-left: 0.6rem!important;
    margin-bottom: 1rem!important;
    text-align: justify
}

.num-tel-entreprise {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-shadow: 0 1px 1px #0066;
}

.entreprise-dash-left {
    font-weight: 500;
    font-size: 16px;
}

.btn-entreprise-contact:hover {
    transition: 0.1s;
    border-bottom: solid 0.2rem black;
}

#btn-website-entreprise {
    position: relative;
    margin-right: 0.5rem;
    background: #006666
}

#btn-website-entreprise:after {
    font-family: "Material-Design-Icons";
    content: "\e63e";
    font-style: normal;
    font-weight: 100;
    text-decoration: inherit;
    position: absolute;
    font-size: 42px;
    color: white;
    left: 3%;
    top: 0;
    z-index: 1;
}

#btn-catalogue-entreprise {
    position: relative;
    width: 11rem;
    background: white
}

#btn-catalogue-entreprise:after {
    font-family: "Material-Design-Icons";
    content: "\e877";
    font-style: normal;
    font-weight: lighter;
    text-decoration: inherit;
    position: absolute;
    font-size: 45px;
    color: #006666;
    left: 5%;
    top: 0;
    z-index: 1;
}

.inner {
    position: relative;
    z-index: 2;
    left: 18%;
}

nav ul a,
nav .brand-logo {
    color: #444
}

p {
    line-height: 2rem
}

.button-collapse {
    color: #26a69a
}

.parallax img {
    max-height: 900px;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%
}

.icon-block {
    padding: 0 15px
}

.icon-block .material-icons {
    font-size: inherit
}

footer.page-footer {
    margin: 0
}

.more-info-button {
    bottom: -15px
}

.carousel.carousel-slider {
    margin-left: 12rem;
}

.carousel-entreprise-item {
    height: 20rem;
    width: auto;
}

.card.carousel-content {
    max-height: 32rem;
}

.carreau-item {
    width: 30rem!important;
}

.carousel-slider {
    width: 300px;
    height: 166px
}

.brand-shadow {
    text-shadow: 1px 1px 1px #000
}

.minimized-boreal-logo {
    vertical-align: middle;
    margin-right: 10px
}

.admin-form-ok i {
    color: #2e7d32
}

.admin-form-wrong i {
    color: #b71c1c
}

#brands {
    width: 85%;
}

#brands-btn {
    padding: 0 1rem;
}

#texte-presentation-index {
    text-indent: 3rem;
    text-align: justify;
    letter-spacing: 0.05rem;
    min-height: 8rem;
}

.logo-page-entreprise img {
    height: 300px
}

.texte-entreprise-presentation {
    text-indent: 2rem;
    text-align: justify;
    font-size: 1.2rem;
    text-align-last: center;
}

.card-acc {
    cursor: pointer;
}

.card-title {
    min-height: 70px;
}

.card-title.entreprisePage {
    border-bottom: 2px #066 solid;
    min-height: 2.6rem;
}

.card-title.mainPage {
    text-transform: uppercase;
    font-size: 15px;
    max-height: 4rem;
    line-height: 18px!important;
}

.card-image {
    width: 100px!important;
    margin: auto!important;
    height: 100px!important
}

.card-image img {
    position: absolute!important;
    top: 50%!important;
    transform: translateY(-50%)!important
}

.titre-page-entreprise {
    font-weight: 700;
    text-shadow: 1px 1px 1px #000
}

/*------------------ POINTEUR DE LA CARTE -------------------*/

.pointeur-carte {
    color: #26a69a;
    transition: 0.5s;
}

.pointeur-carte:hover {
    font-size: 45px;
    text-shadow: 0px -3px 1px black;
    cursor: pointer;
}

/* SI PROMOTION */

.pointeur-promotion {
    animation: promotionActive 2s infinite;
}

.pointeur-promotion::after {
    content: '%';
    font-size: 12px;
    font-weight: 800;
    vertical-align: top;
    position: absolute;
    left: 2rem;
}

@keyframes promotionActive {
    0% {
        color: #26a69a
    }

    50% {
        color: firebrick
    }
    100% {
        color: #26a69a
    }
}

/*-------------------------------------*/

.bouton-dash {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

/* LES BOUTONS DES DASHBOARD */

.orange.lighten-1.waves-effect.waves-light.btn,
.truncate.indigo.lighten.waves-effect.waves-light.btn-large {
    margin: 1px;
}

.section-haute-dash,
.titre-dash-supadmin {
    text-align: center;
}

#sender {
    padding-left: 0.5rem;
}

/*/////////////////////////////////////////////////////
////////////////////RESPONSIVE/////////////////////////
/////////////////////////////////////////////////////*/

@media only screen and (max-width: 600px) {
    .fix {
        width: 50%
    }
    .collection-item.dashboard-admin > div > span,
    .collection-item.dashboard-admin > div > a > i {
        display: none;
    }
    .bouton-dash {
        padding: 0 0.3rem;
        font-size: 0.6rem;
        min-width: 9rem;
    }
    #titre-layout-boreal {
        display: none;
    }
    #btn-catalogue-entreprise {
        min-width: 12rem
    }
    #brands-btn {
        margin-left: -1rem;
        font-size: 12px!important;
    }
    .pointeur-carte {
        font-size: 20px!important
    }
    .carousel.carousel-slider {
        margin-left: auto;
    }
}

@media only screen and (min-width: 601px) {
    .fix {
        height: 475px
    }
    .col {
        width: 33%
    }
    .bouton-dash {
        padding: 0 0.2rem;
        font-size: 0.7rem;
        width: 9rem;
    }
    .collection-item.dashboard-admin > div {
        padding-bottom: 3rem;
    }

    .collection-item.dashboard-admin > div > span,
    .collection-item.dashboard-admin > div > a > i {
        display: none;
    }
    .pointeur-carte {
        font-size: 25px!important
    }
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%
    }
    #index-banner .section {
        top: 10%
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0
    }
    #logo-container {
        margin-left: 2rem;
    }
    #mail-dashboard-supadmin {
        display: none
    }
}

@media only screen and (min-width: 900px) {
    .fix {
        height: 425px
    }
    .col {
        width: 25%
    }

    .bouton-dash {
        font-size: 0.9rem;
        float: none;
        width: auto;
    }
    .collection-item.dashboard-admin > div > span,
    .collection-item.dashboard-admin > div > a > i {
        display: block;
    }
    .collection-item.dashboard-admin > div {
        padding-bottom: 1rem;
    }
    .pointeur-carte {
        font-size: 30px!important
    }
}

@media only screen and (min-width: 1650px) {
    .fix {
        height: 350px
    }
    .col {
        width: 16%
    }
    .bouton-dash {
        padding: 0 2rem;
        font-size: 1rem;
        float: none;
        width: auto;
    }
    .collection-item.dashboard-admin > div > span,
    .collection-item.dashboard-admin > div > a > i {
        display: block;
        float: none;
    }
    .pointeur-carte {
        font-size: 40px!important
    }
}
