<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card-panel indigo lighten-1">
                    <h5 class="white-text center">Bienvenue dans votre espace personnel</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 card info-working">
                <p>L'ajout d'image sur votre page entreprise est maintenant disponible <i class="right material-icons red-text">warning</i></p>
            </div>
            <div class="col s12">
                <a href="/dashboard/contenu-magasin" class="truncate indigo lighten waves-effect waves-light btn-large"><i class="material-icons left">brush</i>Modifier le contenu de votre page magasin</a>
                <a href="/dashboard/admin-shop-update" class="truncate indigo lighten waves-effect waves-light btn-large"><i class="material-icons left">build</i>Changer votre mot de passe</a>
                <a href="/dashboard/creation-promotion" class="truncate indigo lighten waves-effect waves-light btn-large disabled"><i class="material-icons left">build</i>Créer une nouvelle promotion</a>
                <a href="/dashboard/liste-promotion" class="truncate indigo lighten waves-effect waves-light btn-large disabled"><i class="material-icons left">build</i>Voir la liste de vos promotions</a>
            </div>
        </div>
    </div>
</div>
{{> script/basic}}
