<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card-panel indigo lighten-1">
                    <h5 class="white-text center">Bienvenue dans votre espace personnel</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 card info-working">
                <p>Des changements sont en cours sur votre site, certaines fonctionnalités seront ajoutées sous peu. Les fonctionnalités telles que <i>'créer une nouvelle promotion' </i>et <i>'voir la liste de vos promotions'</i> ne sont pas encore accessibles. <i class="right material-icons red-text">warning</i></p>
            </div>
            <div class="col s12">
                <a href="/dashboard/contenu-magasin" class="truncate indigo lighten waves-effect waves-light btn-large"><i class="material-icons left">brush</i>Modifier le contenu de votre page magasin</a>
                <a href="/dashboard/admin-shop-update" class="truncate indigo lighten waves-effect waves-light btn-large"><i class="material-icons left">build</i>Changer votre mot de passe</a>
                <a href="/dashboard/creation-promotion" class="truncate indigo lighten waves-effect waves-light btn-large disabled"><i class="material-icons left">build</i>Créer une nouvelle promotion</a>
                <a href="/dashboard/liste-promotion" class="truncate indigo lighten waves-effect waves-light btn-large disabled"><i class="material-icons left">build</i>Voir la liste de vos promotions</a>
                <a href="/dashboard/creation-emploi" class="truncate indigo lighten waves-effect waves-light btn-large disabled"><i class="material-icons left">build</i>Créer une nouvelle offre d'emploi</a>
                <a href="/dashboard/liste-emploi" class="truncate indigo lighten waves-effect waves-light btn-large disabled"><i class="material-icons left">build</i>Voir la liste de vos offres d'emploi</a>
            </div>
        </div>
    </div>
</div>
{{> script/basic}}
