<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <a href="/dashboard/contenu-magasin" class="indigo lighten waves-effect waves-light btn-large bouton-dash"><i class="material-icons left">brush</i>Modifier le contenu de la page magasin</a>
                <a href="/dashboard/admin-shop-update" class="indigo lighten waves-effect waves-light btn-large bouton-dash"><i class="material-icons left">build</i>Modifier les informations du compte</a>
                <a href="/dashboard/creation-promotion" class="disabled indigo lighten waves-effect waves-light btn-large bouton-dash"><i class="material-icons left">build</i>Créer nouvelle promotion</a>
            </div>
        </div>
    </div>
</div>
{{> script/basic}}
